<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div id="sidebar" class="active" th:fragment="sidebar(page)">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Меню</li>

                    <li th:class="'sidebar-item ' + (${page} == 'employees' ? 'active' : '')">
                        <a href="/employees/list" class='sidebar-link'>
                            <i class="bi bi-people-fill"></i>
                            <span>Сотрудники</span>
                        </a>
                    </li>

                    <li th:class="'sidebar-item ' + (${page} == 'departments' ? 'active' : '')">
                        <a href="/departments/list" class='sidebar-link'>
                            <i class="bi bi-briefcase-fill"></i>
                            <span>Подразделения</span>
                        </a>
                    </li>

                    <li th:class="'sidebar-item ' + (${page} == 'professions' ? 'active' : '')">
                        <a href="/professions/list" class='sidebar-link'>
                            <i class="bi bi-hammer"></i>
                            <span>Должности</span>
                        </a>
                    </li>

                    <li th:class="'sidebar-item ' + (${page} == 'staffs' ? 'active' : '')">
                        <a href="/staffs/list" class='sidebar-link'>
                            <i class="bi bi-diagram-3-fill"></i>
                            <span>Штатная расстановка</span>
                        </a>
                    </li>

                    <li th:class="'sidebar-item ' + (${page} == 'reports' ? 'active' : '')">
                        <a href="/reporting/list" class='sidebar-link'>
                            <i class="bi bi-card-list"></i>
                            <span>Отчётность</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
</html>