<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подразделения</title>

    <th:block th:include="_fragments/styles :: styles"></th:block>
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active" th:insert="~{/_fragments/sidebar :: sidebar}"></div>

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            
            <div class="page-heading">
                <h3>Подразделения</h3>
            </div>
            <div class="page-content">
                <section class="section">
                    <div class="card">
                        <div class="card-body">
                            <table class="table" id="table1">
                                <thead>
                                    <tr>
                                        <th>Подразделение</th>
                                        <th>Родительское подразделение</th>
                                        <th>Статус</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="department: ${departments}">
                                        <td th:text="${department.getName()}"></td>
                                        <td th:text="${department.getParent() == null} ? '' : ${department.getParent.getName()}"></td>
                                        <td>
                                            <span class="badge bg-success">Active</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            
                </section>
            </div>
        
        </div>
    </div>

    <th:block th:include="_fragments/scripts :: scripts"></th:block>
    <script>
        let datatable = $("#table1").DataTable()
    </script>
</body>

</html>
