<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="scripts" th:remove="tag">
        <script src="../assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script src="../assets/js/bootstrap.bundle.min.js"></script>

        <script src="../assets/vendors/jquery/jquery.min.js"></script>
        <script src="../assets/vendors/jquery-datatables/jquery.dataTables.min.js"></script>
        <script src="../assets/vendors/jquery-datatables/custom.jquery.dataTables.bootstrap5.min.js"></script>
        <script src="../assets/vendors/fontawesome/all.min.js"></script>

        <script src="../assets/js/mazer.js"></script>
    </div>
</html>