<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Штатная расстановка</title>

    <th:block th:include="_fragments/styles :: styles"></th:block>
</head>

<body>
<div id="app">
    <div id="sidebar" class="active" th:insert="~{/_fragments/sidebar :: sidebar(page='staffs')}"></div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <h3 th:text="${staff.getId() == null} ? 'Создание штатной расстановки' : ('Правка штатной расстановки ID=' + ${staff.getId()})"></h3>
        </div>
        <div class="page-content">
            <section class="section">

                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-horizontal" action="#" th:action="@{/staffs/save}" th:object="${staff}" method="post">
                                <input type="hidden" th:field="*{id}">
                                <div class="form-body">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label>Подразделение</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                    <select class="form-select" name="department">
                                                        <option></option>
                                                        <option
                                                                th:each="department: ${departments}"
                                                                th:value="${department.getId()}"
                                                                th:text="${department.getName()}"
                                                                th:selected="${staff.getDepartment() != null && department != null && staff.getDepartment().getId().equals(department.getId())}"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label>Должность</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                    <select class="form-select" name="profession">
                                                        <option></option>
                                                        <option
                                                                th:each="profession: ${professions}"
                                                                th:value="${profession.getId()}"
                                                                th:text="${profession.getName()}"
                                                                th:selected="${staff.getProfession() != null && profession != null && staff.getProfession().getId().equals(profession.getId())}"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label>Максимальное количество сотрудников</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="position-relative">
                                                    <input type="text" class="form-control" placeholder="Максимальное количество сотрудников" th:field="*{maxEmployeeCount}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">Сохранить</button>
                                            <button type="reset" class="btn btn-light-secondary me-1 mb-1" onclick="history.back();">Назад</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </section>
        </div>

    </div>
</div>

<th:block th:include="_fragments/scripts :: scripts"></th:block>
</body>

</html>
